
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1480485440756'); /* IE9*/
  src: url('iconfont.eot?t=1480485440756#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1480485440756') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1480485440756') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1480485440756#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bold:before { content: "\ea09"; }

.icon-chain:before { content: "\ea36"; }

.icon-code:before { content: "\ea67"; }

.icon-compress:before { content: "\ea71"; }

.icon-ellipsish:before { content: "\ea95"; }

.icon-expand:before { content: "\eaa1"; }

.icon-image:before { content: "\eb26"; }

.icon-italic:before { content: "\eb31"; }

.icon-mailforward:before { content: "\eb52"; }

.icon-mailreply:before { content: "\eb53"; }

.icon-quoteleft:before { content: "\ebb8"; }

.icon-underline:before { content: "\ec4e"; }

.icon-shanchuxian2:before { content: "\e6f7"; }

